<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdhesionTest.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <AdhesionTest.Properties.Settings>
      <setting name="filePath" serializeAs="String">
        <value />
      </setting>
      <setting name="motorControllerPort" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="shearChannelId" serializeAs="String">
        <value>dev1/ai2</value>
      </setting>
      <setting name="normalChannelId" serializeAs="String">
        <value>dev1/ai0</value>
      </setting>
      <setting name="NormalOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NormalGain" serializeAs="String">
        <value>98.1</value>
      </setting>
      <setting name="ShearOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShearGain" serializeAs="String">
        <value>98.1</value>
      </setting>
    </AdhesionTest.Properties.Settings>
  </userSettings>
</configuration>